<ion-header>

  <head>
    <meta name="google-adsense-account" content="ca-pub-5154191118373975">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  </head>

  <div class="footer-dark">
    <div class="container">
      <ng-adsense [adClient]="'ca-pub-5154191118373975'" [pageLevelAds]="true"></ng-adsense>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
              <h1>WNext Sys</h1>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <a href="./map/undefined">Home | </a><a href="./about">About </a> <small>Lifestyle News interpreted by
                OpenAI</small>
            </div>
          </ion-col>
        </ion-row>
        <div class="ion-text-start">

        </div>
      </ion-grid>
      <span *ngIf="!getIsAbout()">
        <ion-button size="small" (click)="this.getNews(true)">Refresh News</ion-button>
        <ion-button size="small" (click)="this.getNews(false)">Filtered News</ion-button>
        <ion-button  *ngIf="isGospelNews()" size="small" (click)="this.toggle_gospel()">Gospel</ion-button>
        <ion-button size="small" (click)="this.toggle_bahasa()">BM</ion-button>

      </span>
      <ion-button size="small" (click)="this.toggle_chinese()">CN</ion-button>
      <ion-button *ngIf="getIsAbout()" size="small" (click)="this.toggle_chinese()">EN</ion-button>
      <!--p class="copyright">MataBot © 2024</p-->
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</ion-header>


<!-- Credit to https://epicbootstrap.com/snippets/footer-dark -->