<app-header></app-header>

<div class="container">
  <div id="about">
    <h2>
      <div style='float:left; margin-bottom:20px;'>
        <b>WNext Lifestyle News</b>
      </div>
    </h2>
    <h3 style='clear:both' class="subhead">
      is an FREE real time news supported with Open AI using both machine learning and deep learning mechanism. The news will be focusing in healthy lifestyle with AI Interpretation powered by OpenAI and Matabot API. More coming. Stay tune.
    </h3>

    <p>
      For support, please contact matabotmin[at]outlook.com
   </p>

  </div>


</div>

