.button-class {
  min-height: 20px !important;
}

.round {
  --width: 60px;
  --height: 60px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-spinner {
  width: 100px !important;
  height: 100px !important;
}

pre {
  padding: 0px;
  display: inline;
}

br {
  padding: 0px;
  display: inline;
}

ion-textarea {
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-bottom: 0px;
  --padding-top: 0px;
  --placeholder-opacity: 0;

}

textarea {
  background: none;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
}

h1 {
  font-family: "Montserrat, sans-serif";
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 33px
    /*   text-transform: uppercase; */
    /*  color: #4CAF50; */
}

/*  p {
    text-indent: 50px;
    text-align: justify;
  }*/

a {
  text-decoration: none;
  color: #008CBA;
}

.chat-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.grey-message {
  background-color: #e0e0e0;
  color: #000;
  align-self: flex-start;
}

.green-message {
  background-color: #4CAF50;
  color: #fff;
  align-self: flex-end;
}

.blue-message {
  background-color: #4c6baf;
  color: #fff;
  align-self: flex-end;
}

.red-message {
  background-color: #f5b1b1;
  color: #000;
  align-self: flex-start;
}

.purple-message {
  background-color: #d7bceb;
  color: #000;
  align-self: flex-start;
}

.yellow-message {
  background-color: #ebe4bc;
  color: #000;
  align-self: flex-start;
}

.black-white-message {
  background-color: #000;
  color: #fff;
  align-self: flex-start;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message input {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message button {
  padding: 8px;
  margin: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ion-item {
  padding: 0px;
  --min-height: 16px;
}

ion-list {
  padding: 0px;
  --min-height: 16px;
}


h2 {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin-top: 0.0em;
  margin-bottom: 0em;

}

page-viewpost {
	.viewpost {
		ion-grid {
			height: 100%;
		}
		ion-row {
			height: 100%;
		}
		ion-col {
			height: 100%;
		}
		.center {
    		margin-left: auto;
    		margin-right: auto;
    		display: block;
		}

		ion-img {
			object-fit: resize;
			height: 100%;
			width: auto !important;
			border: 0;
			padding: 0;
			background-color: grey;
		}
	}
}