<app-header></app-header>


<div class="container">
  <div id="about">
    <h2>
      <div style='float:left; margin-bottom:20px;'>
        <b>WNext Lifestyle News</b>

      </div>
    </h2>
    <br>

    <br><br><br>
    is an FREE real time news supported with Open AI using both machine learning and deep learning mechanism.
    <br><br>
    The news will be focusing in healthy lifestyle with AI Interpretation and analysis powered by OpenAI and Matabot API.
    <br><br>More coming. Stay tune.
    <p></p>
    For support, please contact matabotmin[at]outlook.com
    <p></p>
    <!-- img src="http://219.93.129.18:9000/app/kkm.jpg" alt="W3Schools.com" style="width:304px;height:300px;" -->


  </div>

</div>


<!-- img src="http://219.93.129.18:9000/app/kkm.jpg" alt="W3Schools.com" style="width:104px;height:142px;" -->


