<meta meta charset=utf-8>


<div *ngIf="this.unicode">
  ------------{{this.unicode}}---------------
</div>

<app-header></app-header>

<ion-content>
  <div *ngIf="!this.isInternetOK">
    <p></p>
    <b>Slow or No Internet Connection: Status-></b> {{isInternetOK}}

    <ion-label>Loading...Please wait</ion-label>
    <ion-spinner size="large" name="crescent"></ion-spinner>

    <ion-button size="large" (click)="tryInit()" expand="full" class="round">Re-Try Connection</ion-button>
  </div>

  <div *ngIf="this.isInternetOK">
    <!-----  Internet OK -->

  </div>
  <!-- Internet OK  ends -->
</ion-content>