
ion-spinner {
  width: 100px !important;
  height: 100px !important;
}

br {
  padding: 0px;
  display: inline;
}

h1 {
  font-family: "Montserrat, sans-serif";
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px
    /*   text-transform: uppercase; */
    /*  color: #4CAF50; */
}

/*  p {
    text-indent: 50px;
    text-align: justify;
  }*/

a {
  text-decoration: none;
  color: #008CBA;
}

p {
  padding: 0px;
  margin-top: 0.0em;
  margin-bottom: 0em;
}