
  
  .button-class {
    min-height: 20px !important;
    }
  
    .round {
      --width: 60px;
      --height: 60px;
      --border-radius: 50%;
      --vertical-align: middle;
      --padding-start: 10px;
      --padding-end: 10px;
    }
  
    ion-spinner {
      width: 100px !important;
      height: 100px !important;
  }
