.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.grey-message {
    background-color: #e0e0e0;
    color: #000;
    align-self: flex-start;
}

.green-message {
    background-color: #4CAF50;
    color: #fff;
    align-self: flex-end;
}

.blue-message {
    background-color: #4c6baf;
    color: #fff;
    align-self: flex-end;
}

.red-message {
    background-color: #f5b1b1;
    color: #000;
    align-self: flex-start;
}

.purple-message {
    background-color: #d7bceb;
    color: #000;
    align-self: flex-start;
}

.yellow-message {
    background-color: #ebe4bc;
    color: #000;
    align-self: flex-start;
}

.black-white-message {
    background-color: #000;
    color: #fff;
    align-self: flex-start;
}

ion-item {
    --min-height: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
}

pre {
    padding: 0px;
    display: inline;
  }