/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.grey-message {
    background-color: #e0e0e0;
    color: #000;
    align-self: flex-start;
}

.green-message {
    background-color: #4CAF50;
    color: #fff;
    align-self: flex-end;
}

.blue-message {
    background-color: #4c6baf;
    color: #fff;
    align-self: flex-end;
}

.red-message {
    background-color: #f5b1b1;
    color: #000;
    align-self: flex-start;
}

.purple-message {
    background-color: #d7bceb;
    color: #000;
    align-self: flex-start;
}

.light-blue-message {
    background-color: #bcd8eb;
    color: #000;
    align-self: flex-start;
}

.yellow-message {
    background-color: #ebe4bc;
    color: #000;
    align-self: flex-start;
}

.black-white-message {
    background-color: #000;
    color: #fff;
    align-self: flex-start;
}

ion-item {
    --min-height: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
}

pre {
    padding: 0px;
    display: inline;
  }