<ion-header>

</ion-header>

<!-- home---<hello>hello outside</hello> -->

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <ion-list>
      <ion-item>
        <h1>Speculative reporting nothing new in journalism, says Johan Jaafar - Free Malaysia Today</h1>
      </ion-item>
      <ion-item>

        <p>
          <ion-text>
            🔍 Recent articles highlight concerns over journalistic integrity and governmental pressure on reporters in
            Malaysia.
            Johan Jaaffar criticizes police investigations into benign articles, while Zaid questions the scrutiny of
            journalists regarding a Bukit Aman reshuffle story. The discourse emphasizes the importance of protecting
            journalists' rights and freedom.
          </ion-text>
        </p>
      </ion-item>

      <ion-item>
        <div class="message sender-message">

          🇦🇮 ❝ Artikel-artikel terkini menyoroti kebimbangan mengenai integriti kewartawanan dan tekanan kerajaan ke
          atas
          wartawan di Malaysia. Johan Jaaffar mengkritik siasatan polis ke atas artikel yang tidak berbahaya, manakala
          Zaid mempersoalkan pemeriksaan terhadap wartawan berkaitan cerita mengenai rombakan Bukit Aman. Perbincangan
          ini menekankan kepentingan melindungi hak dan kebebasan wartawan. ❞
        </div>

      </ion-item>
      <ion-item>
        <div class="message receiver-message">
          Pīnyīn ❝ Shah Firdaus has successfully advanced through several rounds in cycling events at the Paris Olympics, including reaching the semi-finals and quarter-finals in the keirin competition, keeping his gold medal hopes alive as Malaysia's last hope on the final day. ❞
        </div>

      </ion-item>
    </ion-list>
  </form>



</ion-content>